---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import Search from '../components/Search.astro';
---

<html lang="es">
  <head>
    <title>Buscador con Algolia</title>
  </head>
  <body>
    <Search />
  </body>
</html>
